# Non Normalized Version

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('energydata_complete.csv')

In [3]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [5]:
df.isnull().sum(axis = 0)

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [6]:
X = df['T2']
y = df['T6']

In [7]:
X=df['T2'].values.reshape(-1,1)
y=df['T6'].values.reshape(-1,1)

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=77, test_size=0.3)

In [10]:
from sklearn.linear_model import LinearRegression
lin_reg = LinearRegression()
lin_reg.fit(X_train,y_train)
y_predict= lin_reg.predict(X_test)

In [11]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, y_predict))
round(rmse,3)

3.696

In [12]:
df = df.drop(columns=['date','lights'],axis=1)

In [13]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)
normalized_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [14]:
feat_df = df.drop(columns=['Appliances'])
appliances = df['Appliances']

In [15]:
from sklearn.model_selection import train_test_split
lin_reg = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(feat_df, appliances, random_state=42, test_size=0.3)
lin_reg.fit(X_train,y_train)
y_predict= lin_reg.predict(X_test)

In [16]:
y_predict_train=lin_reg.predict(X_train)
from sklearn.metrics import mean_absolute_error
mae_train = mean_absolute_error(y_train, y_predict_train)
print('mae_train: ',round(mae_train,3))

mae_train:  53.749

In [17]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_predict)
print('mae_test: ',round(mae,3))

mae_test:  53.649

In [18]:
rmse_feat_train = np.sqrt(mean_squared_error(y_train, y_predict_train))
print('rmse_train: ',round(rmse_feat_train,3))

rmse_train:  95.216

In [19]:
from sklearn.metrics import mean_squared_error
rmse_feat = np.sqrt(mean_squared_error(y_test, y_predict))
print('rmse_test: ',round(rmse_feat,3))

rmse_test:  93.64

In [20]:
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(X_train,y_train)
y_predict_ridge = ridge.predict(X_test)

In [21]:
from sklearn.metrics import mean_squared_error
rmse_feat_ridge = np.sqrt(mean_squared_error(y_test, y_predict_ridge))
round(rmse_feat_ridge,3)

93.641

In [22]:
from sklearn.linear_model import Lasso
lasso = Lasso()
lasso.fit(X_train,y_train)
y_predict_lasso = lasso.predict(X_test)

In [23]:
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

lasso_model_weights = get_weights_df(lasso, X_train, 'Lasso_Model_Weight')
lasso_model_weights

       Features  Lasso_Model_Weight
0            T9       -1.639155e+01
1            T2       -1.075746e+01
2          RH_2       -1.014653e+01
3          RH_8       -5.457679e+00
4         T_out       -3.696347e+00
5          RH_7       -1.724493e+00
6            T5       -1.589092e+00
7          RH_9       -1.549707e+00
8        RH_out       -1.821188e-02
9            T1       -0.000000e+00
10    Tdewpoint        0.000000e+00
11           T7       -0.000000e+00
12         RH_4        0.000000e+00
13           T4       -0.000000e+00
14          rv2        1.625869e-17
15          rv1        2.353054e-02
16  Press_mm_hg        8.695188e-02
17   Visibility        1.772175e-01
18         RH_5        2.509821e-01
19         RH_6        3.035808e-01
20    Windspeed        2.191789e+00
21         RH_3        3.657718e+00
22           T6        4.817203e+00
23           T8        6.597932e+00
24         RH_1        1.483957e+01
25           T3        2.121530e+01

In [24]:
rmse_lasso = np.sqrt(mean_squared_error(y_test,y_predict_lasso))
round(rmse_lasso,3)

93.892

# Normalized Version(normalization by MinMaxScaler is required in the quiz but the result is different from the answers)

In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv('energydata_complete.csv')

In [27]:
df.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [29]:
df.isnull().sum(axis = 0)

date           0
Appliances     0
lights         0
T1             0
RH_1           0
T2             0
RH_2           0
T3             0
RH_3           0
T4             0
RH_4           0
T5             0
RH_5           0
T6             0
RH_6           0
T7             0
RH_7           0
T8             0
RH_8           0
T9             0
RH_9           0
T_out          0
Press_mm_hg    0
RH_out         0
Windspeed      0
Visibility     0
Tdewpoint      0
rv1            0
rv2            0
dtype: int64

In [30]:
X = df['T2']
y = df['T6']

X=df['T2'].values.reshape(-1,1)
y=df['T6'].values.reshape(-1,1)

In [31]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=77, test_size=0.3)

In [32]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=77, test_size=0.3)

In [33]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=77, test_size=0.3)

In [34]:
df = df.drop(columns=['date','lights'],axis=1)

In [35]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
normalized_df = pd.DataFrame(scaler.fit_transform(df),columns=df.columns)
normalized_df.head()

,Appliances,T1,RH_1,T2,RH_2,T3,RH_3,T4,RH_4,T5,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,0.046729,0.32735,0.566187,0.225345,0.684038,0.215188,0.746066,0.351351,0.764262,0.175506,...,0.223032,0.677290,0.372990,0.097674,0.894737,0.500000,0.953846,0.538462,0.265449,0.265449
1,0.046729,0.32735,0.541326,0.225345,0.682140,0.215188,0.748871,0.351351,0.782437,0.175506,...,0.226500,0.678532,0.369239,0.100000,0.894737,0.476190,0.894872,0.533937,0.372083,0.372083
2,0.037383,0.32735,0.530502,0.225345,0.679445,0.215188,0.755569,0.344745,0.778062,0.175506,...,0.219563,0.676049,0.365488,0.102326,0.894737,0.452381,0.835897,0.529412,0.572848,0.572848
3,0.037383,0.32735,0.524080,0.225345,0.678414,0.215188,0.758685,0.341441,0.770949,0.175506,...,0.219563,0.671909,0.361736,0.104651,0.894737,0.428571,0.776923,0.524887,0.908261,0.908261
4,0.046729,0.32735,0.531419,0.225345,0.676727,0.215188,0.758685,0.341441,0.762697,0.178691,...,0.219563,0.671909,0.357985,0.106977,0.894737,0.404762,0.717949,0.520362,0.201611,0.201611

In [36]:
feat_df = normalized_df.drop(columns=['Appliances'])
appliances = normalized_df['Appliances']

In [37]:
from sklearn.model_selection import train_test_split
lin_reg = LinearRegression()
X_train, X_test, y_train, y_test = train_test_split(feat_df, appliances, random_state=42, test_size=0.3)
lin_reg.fit(X_train,y_train)
y_predict= lin_reg.predict(X_test)

In [38]:
y_predict_train=lin_reg.predict(X_train)
from sklearn.metrics import mean_absolute_error
mae_train = mean_absolute_error(y_train, y_predict_train)
print('mae_train: ',round(mae_train,4))

mae_train:  0.0502

In [39]:
from sklearn.metrics import mean_absolute_error
mae = mean_absolute_error(y_test, y_predict)
print('mae_test: ',round(mae,4))

mae_test:  0.0501

In [40]:
rmse_feat_train = np.sqrt(mean_squared_error(y_train, y_predict_train))
print('rmse_train: ',round(rmse_feat_train,3))

rmse_train:  0.089

In [41]:
from sklearn.metrics import mean_squared_error
rmse_feat = np.sqrt(mean_squared_error(y_test, y_predict))
print('rmse_test: ',round(rmse_feat,3))

rmse_test:  0.088

In [42]:
from sklearn.linear_model import Ridge
ridge = Ridge()
ridge.fit(X_train,y_train)
y_predict_ridge = ridge.predict(X_test)

In [43]:
from sklearn.metrics import mean_squared_error
rmse_feat_ridge = np.sqrt(mean_squared_error(y_test, y_predict_ridge))
round(rmse_feat_ridge,3)

0.088

In [44]:
from sklearn.linear_model import Lasso
lasso = Lasso()
lasso.fit(X_train,y_train)
y_predict_lasso = lasso.predict(X_test)

In [45]:
def get_weights_df(model, feat, col_name):
  weights = pd.Series(model.coef_, feat.columns).sort_values()
  weights_df = pd.DataFrame(weights).reset_index()
  weights_df.columns = ['Features', col_name]
  weights_df[col_name].round(3)
  return weights_df

lasso_model_weights = get_weights_df(lasso, X_train, 'Lasso_Model_Weight')
lasso_model_weights

       Features  Lasso_Model_Weight
0            T1                 0.0
1     Tdewpoint                 0.0
2    Visibility                 0.0
3     Windspeed                 0.0
4        RH_out                -0.0
5   Press_mm_hg                -0.0
6         T_out                 0.0
7          RH_9                -0.0
8            T9                 0.0
9          RH_8                -0.0
10           T8                 0.0
11         RH_7                -0.0
12           T7                 0.0
13         RH_6                -0.0
14           T6                 0.0
15         RH_5                 0.0
16           T5                 0.0
17         RH_4                 0.0
18           T4                 0.0
19         RH_3                 0.0
20           T3                 0.0
21         RH_2                -0.0
22           T2                 0.0
23         RH_1                 0.0
24          rv1                -0.0
25          rv2                -0.0

In [46]:
rmse_lasso = np.sqrt(mean_squared_error(y_test,y_predict_lasso))
round(rmse_lasso,3)

0.095